@page "/courses"
@using Domain.Entities
@using Domain.Ports.Services
@inject ICourseService CourseService
@inject IJSRuntime JS

<PageTitle>Course List</PageTitle>

@if (_courses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-end mb-2">
            <NavLink class="btn btn-success btn-sm" href="/course">
                <span class="bi bi-patch-plus" data-toggle="tooltip" data-placement="top" title="Agregar"></span>
                Agregar
            </NavLink>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Credits</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in _courses)
                {
                    <tr>
                        <td>@course.Name</td>
                        <td>@course.Code</td>
                        <td>@course.Credits</td>
                        <td>
                            <div class="d-flex p-2 gap-2">
                                <button class="btn btn-warning" @onclick="() => EditCourse(course.Id)">
                                    <span class="bi bi-pencil" data-toggle="tooltip" data-placement="top" title="Edit"></span>
                                </button>
                                <button type="button" class="btn btn-danger" @onclick="() => ConfirmAndDelete(course.Id)">
                                    <span class="bi bi-trash" data-toggle="tooltip" data-placement="top" title="Delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@code {
    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    private List<Course>? _courses;

    protected override async Task OnInitializedAsync()
    {
        _courses = await CourseService.GetCourses();
    }

    private void EditCourse(Guid id)
    {
        Navigation.NavigateTo($"/course/{id}");
    }

    private async Task ConfirmAndDelete(Guid id)
    {
        bool confirmed = await JS.InvokeAsync<bool>("showConfirm", "Do you want to delete this record?");
        if (confirmed)
        {
            await CourseService.DeleteCourse(id);
            _courses = await CourseService.GetCourses();
        }
    }
}
